html,body {height: 100%;position:relative;}
body {margin:0;padding:0;font-family: Montserrat, sans-serif;animation: fadein 2s;-moz-animation: fadein 2s;-webkit-animation: fadein 2s;-o-animation: fadein 2s;overflow-x:hidden;}
.img {margin-bottom: 30px;}
.centre{width: 100%;position: relative;left:1.2%;height: auto;margin: 0 auto;}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#header {position: relative;border-bottom: 9px solid #2b2b2b;border-top: 9px solid #2b2b2b;background-color:#f8f8f8;}
#header-img{display: block;margin: auto;width: 60%;}
#macbook{width:120%;}
img{margin:auto; border-radius:1%;}
img:hover{box-shadow: 0px 5px 30px rgba(0, 0, 0, 1);}
.questions{position:relative;top:6em;}
#photos{position:relative;top:4em;margin:auto;}
#assignment{position:relative;top:4em;margin:auto;}
#info{line-height:190%;}
#facts{position:relative;top:4em;margin:auto;}
#questions{position:relative;top:4em;margin:auto;}